<%= form_for user, action: :update do |f| %>
    <div class="edit-contact-data-table">
      <div class="contact-data-tr">
        <div class="contact-data-td">Imię:</div>
        <div class="contact-data-td">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">Nazwisko:</div>
        <div class="contact-data-td">
          <%= f.text_field :surname %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">Adres email:</div>
        <div class="contact-data-td">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">Telefon:</div>
        <div class="contact-data-td">
          <%= f.text_field :tel %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">Ulica:</div>
        <div class="contact-data-td">
          <%= f.text_field :street %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">Miasto:</div>
        <div class="contact-data-td">
          <%= f.text_field :city %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">Kod pocztowy:</div>
        <div class="contact-data-td">
          <%= f.text_field :post_code %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">PESEL:</div>
        <div class="contact-data-td">
          <%= f.text_field :pesel %>
        </div>
      </div>
      <% if user.is_a? Patient %>
          <div class="contact-data-tr">
            <div class="contact-data-td">Dietetyk</div>
            <div class="contact-data-td">
                  <% if user.dietician.nil? %>
                      <%= f.select :dietician_id, Dietician.all.map { |dietician| [dietician.full_name.first(30), dietician.id] }, {include_blank: true}, {class: 'form-control'} %>
                  <% else %>
                      <%= f.select :dietician_id, Dietician.all.map { |dietician| [dietician.full_name.first(30), dietician.id] }, {include_blank: true, selected: user.dietician.id}, {class: 'form-control'} %>
                  <% end %>
              <script>
                $( "#patient_dietician_id" ).select2({
                  theme: "bootstrap"
                });
              </script>
            </div>
          </div>
      <% end %>
      <div class="contact-data-tr">
        <div class="contact-data-td button-link">
            <%= f.submit "Zapisz" %>
        </div>
      </div>
    </div>
<% end %>