<div id="main-edit-user" class="main-frame">
  <div id="content">
    <h2>Edycja hasła</h2>
    <%= form_for(@user, :url => {:action => "update_password"}, :html => {:role => 'form'}) do |f| %>

        <div class="edit-contact-data-table">
          <div class="contact-data-tr">
            <div class="contact-data-td">Obecne hasło</div>
            <div class="contact-data-td">
              <%= f.password_field :current_password %>
            </div>
          </div>
          <div class="contact-data-tr">
            <div class="contact-data-td">Nowe hasło <br>(minimum 8 znaków)</div>
            <div class="contact-data-td">
              <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %>
            </div>
          </div>
          <div class="contact-data-tr">
            <div class="contact-data-td">Powtórzenie hasła</div>
            <div class="contact-data-td">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <div class="contact-data-tr">
            <td colspan="2">
              <%= f.submit 'Zmień hasło' %>
          </div>
        </div>
        </div>
    <% end %>
    </div>
</div>
