<%# events = Event.for_user_at_date(user, day) %>

<div class="day-title callendar month">
  <%= link_to show_day_path(user, day.strftime("%d_%m_%Y")), remote: true do %>
      <%= day.strftime("%d.%m") %>
  <% end %>
</div>

<div class="month-callendar-events-box">
  <% founded_day = user.get_day(day) %>
  <% trainings = user.trainings.where(date: day) %>
  <% if founded_day.nil? and trainings.empty? %>
      Nic...
  <% else %>
      <% unless founded_day.nil? %>
        <%= founded_day.day_parts.count %> pór posiłków<br>
        <% count_all = 0 %>
        <% count_eaten = 0 %>
        <% founded_day.day_parts.map{|day_part| day_part.day_part_meals}.sum.each do |day_part_meal|
          count_all += 1
          if day_part_meal.eaten
            count_eaten += 1
           end
          end %>
        Zjedzono <%= count_eaten %>/<%= count_all %>
      <% end %>
      <% unless trainings.empty? %>
          <br>
          <% trainings_count = trainings.count %>
          <% if trainings_count == 1 %>
            1 trening
          <% elsif trainings_count % 10 > 1 and trainings_count % 10 < 5 %>
            <%= trainings_count %> treningi
          <% else %>
            <%= trainings_count %> treningów
          <% end %>
      <% end %>
  <% end %>
</div>