<div id="main-patients" class="main-frame">
  <div id="content">
    <h2>Pacjent <%= @user.full_name %></h2>

    <h4>
      Przypisany dietetyk:
      <% dietician = @user.dietician %>
      <% if dietician.nil? %>
        brak
      <% else %>
        <%= link_to dietician.full_name, dietician_path(dietician) %>
      <% end %>
    </h4>
    <h4>
      Dieta - szablony dni:
      <%= link_to template_days_path(@user) do %>
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      <% end %>
    </h4>
    <h4>
      Dieta - kalendarz:
      <%= link_to days_path(@user) do %>
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <% end %>
    </h4>
    <h4>
      Dieta - statystyki:
      <%= link_to show_charts_path(@user) do %>
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
      <% end %>
    </h4>

    <%= render(
        partial: "users/contact_data",
        locals: {user: @user}
        ) %>
  </div>
</div>