<div class="edit-contact-data-table">
  <div class="contact-data-tr">
    <div class="contact-data-td">
      Zdjęcia
    </div>
    <div class="contact-data-td">
      <% token = form_authenticity_token %>
        <%= form_tag upload_for_measurement_path, method: :post, class: "dropzone", id: "measurement-dropzone" do %>
            <input name="authenticity_token" type="hidden" value="<%= token %>" />
            <div class="fallback">
              <%= file_field_tag "media", multiple: true%>
            </div>
            <div class="dz-message">Przeciągnij i upuść tutaj lub kliknij, aby wybrać</div>
        <% end %>
      <script>
        $(function() {
          var mediaDropzone;
          mediaDropzone = new Dropzone("#measurement-dropzone", {
            maxFilesize: 2000, // MB
            maxFiles: 20,
            parallelUploads: 20,
            addRemoveLinks: true,
            dictRemoveFile: "Usuń",
            dictCancelUpload: "Anuluj",
            dictCancelUploadConfirmation: "Czy jesteś pewien, że chcesz anulować przesyłanie pliku?"
          });
          var submit_button = $("form").find("input[type='submit']");
          var old_title = submit_button.val();
          mediaDropzone.on("addedfile", function(file) {
            submit_button.prop('disabled', true);
            submit_button.val("Trwa dodawanie plików");
          });
          mediaDropzone.on("queuecomplete", function() {
            submit_button.prop('disabled', false);
            submit_button.val(old_title);
          });
          mediaDropzone.on("removedfile", function(file) {
            console.log(file);
            var id = JSON.parse(file.xhr.response).id;
            Rails.ajax({
              url: '/measurement_files/' + id,
              type: 'delete',
              success: function(result) {
              }
            });
            submit_button.prop('disabled', false);
            submit_button.val(old_title);
          });
        });
      </script>
    </div>
  </div>
</div>
<%= form_for measurement, url: create_measurement_path, validate: true, method: :patch, remote: true do |f| %>
    <div class="edit-contact-data-table">
      <div class="contact-data-tr">
        <div class="contact-data-td">
          Czas snu [godziny]:
        </div>
        <div class="contact-data-td">
          <%= f.number_field :sleep_time, step: 0.01, min: 0 %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td">
          Waga [kg]:
        </div>
        <div class="contact-data-td">
          <%= f.number_field :weight, step: 0.01, min: 0 %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td button-link">
            <%= hidden_field_tag :authenticity_token, token %>
            <%= f.hidden_field :patient_id, value: measurement.patient.id %>
            <%= f.hidden_field :date, value: measurement.date %>
            <%= f.submit "Zapisz" %>
        </div>
      </div>
    </div>
<% end %>