<div class="menu-box">
  <div class="menu-head">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </div>
  <div>
    <ul class="nav navbar-nav">

      <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to abouts_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>O serwisie
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to user_path(current_user), class: 'nav-link' do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Moje konto
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to edit_password_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Zmiana hasła
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to destroy_user_session_path, :method => 'delete', class: 'nav-link' do %>
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Wylogowanie
            <% end %>
          </li>
      <% else %>
          <li class='nav-item'>
            <%= link_to abouts_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>O serwisie
            <% end %>
          </li>
          <li class='nav-item'><%= link_to new_user_session_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>Logowanie
            <% end %>
          </li>
      <% end %>

    </ul>
  </div>
</div>