<% if current_user.is_a? Admin %>

    <div class="menu-box">
      <div class="menu-head">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
      <div>
        <ul class="nav navbar-nav">

          <li class='nav-item'>
            &nbsp;
          </li>
          <li class='nav-item'>
            <%= link_to users_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Użytkownicy
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to messages_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Wiadomości (<%= current_user.addressee_messages.unread.count %>)
            <% end %>
          </li>

        </ul>
      </div>
    </div>

    <div class="menu-box">
      <div class="menu-head">
        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
      </div>
      <div>
        <ul class="nav navbar-nav">

          <li class='nav-item'>
            <%= link_to products_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>Składniki
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to meals_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Posiłki
            <% end %>
          </li>

        </ul>
      </div>
    </div>

<% elsif current_user.is_a? Dietician %>

    <div class="menu-box">
      <div class="menu-head">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
      <div>
        <ul class="nav navbar-nav">

          <li class='nav-item'>
            <%= link_to new_patient_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nowy pacjent
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to my_patients_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Lista pacjentów
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to messages_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Wiadomości (<%= current_user.addressee_messages.unread.count %>)
            <% end %>
          </li>

        </ul>
      </div>
    </div>

    <div class="menu-box">
      <div class="menu-head">
        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
      </div>
      <div>
        <ul class="nav navbar-nav">

          <li class='nav-item'>
            <%= link_to products_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>Składniki
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to meals_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Posiłki
            <% end %>
          </li>

        </ul>
      </div>
    </div>

<% elsif current_user.is_a? Patient %>

    <div class="menu-box">
      <div class="menu-head">
        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
      </div>
      <div>
        <ul class="nav navbar-nav">

          <li class='nav-item'>
            <%= link_to days_path(current_user), class: 'nav-link' do %>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Mój kalendarz
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to template_days_path(current_user), class: 'nav-link' do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Moje szablony
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to show_charts_path(current_user), class: 'nav-link' do %>
                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Moje statystyki
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to messages_path, class: 'nav-link' do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Wiadomości (<%= current_user.addressee_messages.unread.count %>)
            <% end %>
          </li>

        </ul>
      </div>
    </div>

<% end %>