<!DOCTYPE html>
<html>
  <head>
    <title>Diethub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <header>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
  </header>

  <main role="main">
    <%= yield %>
  </main>

  <%# MODAL %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 700px">
      <div class="modal-content"></div>
    </div>
  </div>

  </body>
</html>
